<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <prokarma>
            <myproducts>
                <view_my_products>1</view_my_products>
            </myproducts>
        </prokarma>
    </default>
</config>